*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#F4F6F9;

color:#333;

}

header{

background:#306998;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

font-weight:bold;

}

nav a:hover{

color:#FFD43B;

}

.banner{

height:400px;

background:linear-gradient(#306998,#1F4E79);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

color:white;

padding:20px;

}

.banner h2{

font-size:45px;

margin-bottom:20px;

}

.banner p{

font-size:20px;

margin-bottom:30px;

}

.boton{

background:#FFD43B;

padding:15px 35px;

text-decoration:none;

color:#000;

border-radius:8px;

font-weight:bold;

}

main{

max-width:1200px;

margin:auto;

padding:40px;

}

.info{

margin-bottom:40px;

text-align:center;

}

.cards{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}

.card{

background:white;

padding:25px;

width:300px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

text-align:center;

}

.card h3{

margin-bottom:15px;

color:#306998;

}

form{

display:flex;

flex-direction:column;

max-width:600px;

margin:auto;

}

input,

textarea{

padding:15px;

margin-bottom:20px;

border:1px solid #ccc;

border-radius:5px;

}

button{

padding:15px;

background:#306998;

color:white;

border:none;

cursor:pointer;

}

button:hover{

background:#FFD43B;

color:black;

}

footer{

background:#306998;

color:white;

text-align:center;

padding:20px;

margin-top:40px;

}

@media(max-width:768px){

header{

flex-direction:column;

}

nav{

margin-top:15px;

}

.cards{

flex-direction:column;

align-items:center;

}

.banner h2{

font-size:32px;

}

}